/build/
logs/
*.iml
/.idea/
/classes
/.gradle/
/atlassian-ide-plugin.xml
src/main/resources/keycloak-prod.json
src/main/resources/keycloak-dev.json
.vscode/
src/test/resources/application-test.properties
src/main/resource/application-dev.properties
src/main/resource/application-test.properties
